<ul class="nav flex-column sidebar">
  <li class="nav-item">
    <a routerLink="main" routerLinkActive="activeTab" class="nav-link">Main info</a>
  </li>
  <li class="nav-item">
    <a routerLink="edit" routerLinkActive="activeTab" class="nav-link">Edit profile</a>
    <ul class="nav sub-sidebar" [class.hidden-bar]="!isSubTabShown(['common', 'contact', 'interests'])">
      <li class="nav-item">
        <a class="nav-link" routerLink="edit/contact" routerLinkActive="activeTab">Contact Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Interests</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a routerLink="workflow" routerLinkActive="activeTab" class="nav-link">Workflow</a>
    <ul class="nav sub-sidebar" [class.hidden-bar]="!isSubTabShown(['kinds', 'workflow'])">
      <li class="nav-item">
        <a routerLinkActive="activeTab" routerLink="workflow/kinds" class="nav-link">Statistics Kinds</a>
      </li>
    </ul>
  </li>
</ul>
