.nav-link {
  color: #343a40;
  border-radius: 0;
}

.nav-link:hover {
  text-shadow: 0.5px 0.5px 1px #b7aaaa;
  color: #2e3133 !important;
}

.activeTab {
  border-left: 2px solid #343a40;
  background-color: #343a4024;
}

.sidebar {
  background-color: #343a400f;
}

.hidden-bar {
  overflow: hidden;
  max-height: 0 !important;
}

.sub-sidebar {
  background-color: #3b41478e;
  max-height: 500px;
  transition: max-height;
  transition-duration: 450ms;
  transition-delay: 0;
}
