.monthly-dashboard {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../../../assets/img/monthly-bg.jpg');
  min-height: 100vh;
  height: 100%;
}

.dashboard-body {
  flex-direction: column
}
