.default-img>img {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.upload-text {
  text-align: center;
  width: 188px;
  position: absolute;
  height: 100px;
  top: 94px;
  left: 21.2px;
  background: #edeff0b0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  padding-top: 20px;
  font-size: 20px;
}

.user-avatar>img {
  height: 200px;
  width: 200px;
  cursor: pointer;
}
