.user-avatar>img {
  max-height: 230px;
  max-width: 230px;
  min-width: 180px;
  min-height: 180px;
  cursor: pointer;
}

.user-avatar {
  width: fit-content;
  margin: 0 auto;
}

.user-avatar-section {
  max-width: 290px;
}

.edit-btn {
  width: 100%;
  display: block;
  margin: 10px auto 0;
}
