<section class="user-avatar-section card">
  <div class="card-body">
    <div class="user-avatar" (click)="selectFile()" *ngIf="!isPhotoPresent">
      <img src="../../../../../assets/img/no_avatar.svg">
      <input #fileInput type="file" accept="image/*" maxSize="1024*1024*5" hidden (change)="onSelectFile($event)">
    </div>
    <div class="user-avatar" *ngIf="isPhotoPresent && imagePath != null">
      <img [src]="imagePath">
    </div>
    <button routerLink="/profile/edit" class="btn btn-primary edit-btn">Edit profile</button>
  </div>
</section>
