<div class="main-content" id="mainContent" #mainContent style="background-size: 2000px">
  <div class="jumbotron">
    <h1 class="display-2 ">Welcome to KeepFit module</h1>
    <p class="lead">You'll have to fill some question blocks about your body</p>
    <hr class="my-4">
    <p>Than you will be able to watch this data in dynamics and retrieve </p>
    <p>a lot of
      <strong>helpful</strong> analytics and statistics</p>

    <button class="btn btn-lg button-start btn-outline-light">Start</button>
  </div>
</div>
