#submit-btn {
  float: right;
}

.loader {
  float: right;
  margin-right: 7px;
  margin-top: 4px;
}

.card {
  max-width: 640px;
  margin: 64px auto 0;
}

.alert {
  max-width: 640px;
  margin: 15px auto;
}
