<div class="container">
  <div class="row edit-block">
    <div class="tab-header">
      <div class="tab-header-text">
        Public profile
      </div>
      <hr>
    </div>
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <section class="col-lg-8 change-info">
            <form *ngIf="user">
              <div class="form-group">
                <label for="firstName">First name</label>
                <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" id="firstName">
              </div>
              <div class="form-group">
                <label for="lastName">Last name</label>
                <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName" id="lastName">
              </div>
              <div class="form-group">
                <label class=control-label for="email">Email</label>
                <p class="form-control-static form-control" id="email">{{user.email}}</p>
              </div>
            </form>
          </section>
          <section class="col-lg-4 change-photo user-avatar-section">
            <div class="change-photo-section-header">
              Profile photo
            </div>
            <div class="user-avatar">
              <img [src]="imagePath" [hidden]="photoChanged">
              <img #preview alt="New photo" [hidden]="!photoChanged">
            </div>
            <button class="btn btn btn-outline-secondary edit-btn" (click)="selectFile()" *ngIf="!photoChanged">
              Change profile photo
            </button>
            <div class="image-save-buttons" *ngIf="photoChanged">
              <button class="btn btn-outline-success photo-control-btn" (click)=saveNewPhoto()>
                Save
              </button>
              <button class="btn btn-outline-danger photo-control-btn" (click)=cancelNewPhoto()>
                Cancel
              </button>
            </div>
            <input #fileInput type="file" accept="image/*" maxSize="1024*1024*5" hidden (change)="onSelectFile($event)">
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
