<div class="container">
  <div class="row edit-block">
    <div class="tab-header">
      <div class="tab-header-text">
        Public profile
      </div>
      <hr>
    </div>
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <section class="col-lg-8 change-info">
            <form #form="ngForm" *ngIf="user" (submit)="onSubmitProfile(form)">
              <div class="form-group">
                <label for="firstName">First name</label>
                <input class="form-control" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" id="firstName"
                  required pattern="[a-zA-Z]{3,15}" [class.is-invalid]="firstName.errors">
                <div *ngIf="firstName.errors?.pattern" class="invalid-feedback">Incorrect pattern</div>
                <div *ngIf="firstName.errors?.required" class="invalid-feedback">Field is required</div>
              </div>
              <div class="form-group">
                <label for="lastName">Last name</label>
                <input class="form-control" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" id="lastName" [class.is-invalid]="lastName.errors"
                  required pattern="[a-zA-Z]{3,15}">
                <div *ngIf="lastName.errors?.pattern" class="invalid-feedback">Incorrect pattern</div>
                <div *ngIf="lastName.errors?.required" class="invalid-feedback">Field is required</div>
              </div>
              <div class="form-group">
                <label class=control-label for="email">Email</label>
                <p class="form-control-static form-control" id="email">{{user.email}}</p>
              </div>
              <div class="form-group">
                <label class=control-label for="email">Registration date</label>
                <p class="form-control-static form-control" id="registrationDate">{{user.registrationDate | date}}</p>
              </div>
              <button type="submit" class="btn btn-outline-success" [class.disabled]="form.invalid" [disabled]="form.invalid">Update profile</button>
              <div class="alert alert-success" *ngIf="userUpdated">
                User was updated
              </div>
            </form>

          </section>
          <section class="col-lg-4 change-photo user-avatar-section">
            <div class="change-photo-section-header">
              Profile photo
            </div>
            <div class="user-avatar">
              <img [src]="imagePath" [hidden]="photoChanged" *ngIf="isPhotoPresent == true">
              <img #preview alt="New photo" [hidden]="!photoChanged" *ngIf="isPhotoPresent == true">
              <img src="../../../../../assets/img/no_avatar.svg" *ngIf="isPhotoPresent == false">
            </div>
            <div class="image-control-buttons" *ngIf="!photoChanged">
              <button class="btn btn btn-outline-secondary edit-btn" (click)="selectFile()" *ngIf="!photoChanged">
                Change profile photo
              </button>
            </div>
            <div class="image-control-buttons" *ngIf="photoChanged">
              <button class="btn btn-outline-success photo-control-btn" (click)=saveNewPhoto()>
                Save
              </button>
              <button class="btn btn-outline-danger photo-control-btn" (click)=cancelNewPhoto()>
                Cancel
              </button>
            </div>
            <input #fileInput type="file" accept="image/*" maxSize="1024*1024*5" hidden (change)="onSelectFile($event)">
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
