<simple-notifications [options]="notificationOptions"></simple-notifications>
<nav class="navbar navbar-expand-lg navbar-dark">
  <a href="#" class="navbar-brand">
    <img> Lifetivity
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/workflow" routerLinkActive="active">Workflow</a>
      </li>
      <li class="nav-item user-button-hidden-item">
        <a routerLink="/profile/main" routerLinkActive="active" class="nav-link">Profile</a>
      </li>
      <li class="nav-item user-button-hidden-item">
        <a style="cursor: pointer;" (click)="authService.logout()" class="nav-link">Logout</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup" routerLinkActive="active" class="nav-link">Register</a>
      </li>
    </ul>
  </div>
  <div class="dropdown user-button-dropdown" *ngIf="isLoggedIn && currentUser != null">
    <button class="btn btn-outline-light dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <div *ngIf="currentUser.firstName != null && currentUser.lastName != null" style="display: inline">
        {{ currentUser.firstName }} {{currentUser.lastName}}
      </div>
      <div *ngIf="currentUser.firstName == null || currentUser.lastName == null" style="display: inline">
        {{currentUser.email}}
      </div>
    </button>
    <div class="dropdown-menu open-to-left" aria-labelledby="user-menu">
      <a routerLink="/profile/main" routerLinkActive="active" class="dropdown-item">Profile</a>
      <div class="dropdown-divider"></div>
      <a style="cursor: pointer;" (click)="authService.logout()" class="dropdown-item">Logout</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
