* {
  font-family: Roboto, sans-serif
}

#navbarNav {
  justify-content: space-between;
}

.dropdown {
  margin-right: 20px;
}

.open-to-left {
  right: 0;
  left: auto
}

.navbar {
  background: #0063ce;
  z-index: 999;
}

.user-button-hidden-item {
  display: none
}

@media screen and (max-width: 991px) {
  .user-button-dropdown {
    display: none;
  }
  .user-button-hidden-item {
    display: block
  }
}
